@model IEnumerable<CarBookProject.Areas.AdminDashboard.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/CompanyAccount/Views/Shared/_CLayout.cshtml";
}



<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead >
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
         
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryId"   class="btn btn-primary" >Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CategoryId"class="btn btn-info"    >Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-danger"  > Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
